@page "/films"
@inject IFilmService Service

<PageTitle>Filmses</PageTitle>

<h1>Filmes</h1>

<p>Confira a lista de sucessos de uma galaxia tão tão distante...</p>

@if (films == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <div class="row g-5">
        @foreach (var item in films)
        {
            <div class="col-sm-4">
                <div class="card">
                    <img src="@item.ImageUrl" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>                        
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Lançamento: @item.ReleaseDate.ToString("y")</li>
                        <li class="list-group-item">Episódio #@item.Episode</li>
                    </ul>
                    <div class="card-body">
                        <small>@item.OpeningCrawl</small>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    private List<Film>? films;

    protected override async Task OnInitializedAsync()
    {
        var serviceResult = await Service.GetFilmsAsync();

        films = serviceResult.ToList();
    }
}
