@page "/people"
@inject ICharacterService Service

<PageTitle>Personagens</PageTitle>

<h1>Personagens</h1>

<h3>Confira a lista de personagens </h3>

@if(chars == null){
    <p><em>Carregando...</em></p>
}
else
{
     <div class="row g-5">
        @foreach (var item in chars)
        {
            <DefaultCard ImageUrl="@item.ImageUrl"
                         Title="@item.Name"
                         GroupItemLabel1="Altura (cm)"
                         GroupItemValue1="@item.Height.ToString()"
                         GroupItemLabel2="Peso (kg)"
                         GroupItemValue2="@item.Mass.ToString()"
                         CardDescription="" />
        }
    </div>

}

@code {
    private List<Character>? chars;

    protected override async Task OnInitializedAsync()
    {
        var characters = await Service.GetCharacterAsync();

        var list = characters.ToList();

        list.ForEach(c =>
        {
            var filteredUrl = c.ImageUrl.Split("/revision/");
            c.ImageUrl = filteredUrl[0];
        });

        chars = list;

    }

}
