@page "/people"
@inject ICharacterService Service

<PageTitle>Personagens</PageTitle>

<h1>Personagens</h1>

<h3>Confira a lista de personagens </h3>

@if(chars == null){
    <p><em>Carregando...</em></p>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Título</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in chars)
            {
                <tr>
                    <td><img src="@item.ImageUrl" width="100" height="100" /></td>
                    <td>@item.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Character>? chars;

    protected override async Task OnInitializedAsync()
    {
        var characters = await Service.GetCharacterAsync();

        var list = characters.ToList();

        list.ForEach(c =>
        {
            var filteredUrl = c.ImageUrl.Split("/revision/");
            c.ImageUrl = filteredUrl[0];
        });

        chars = list;

    }

}
