@page "/planets"
@inject IPlanetService Service

<PageTitle>Planetas</PageTitle>

<h1 class="h1-titulo">Planetas</h1>

<p class="p-titulo">Confira a lista de sucessos de uma galaxia tão tão distante...</p>

@if (planets == null)
{
    <p><em>Carregando...</em></p>
}
else
{

    <div class="row g-5">
        @foreach (var item in planets)
        {
            <DefaultCard ImageUrl="@item.ImageUrl"
                         Title="@item.Name"
                         GroupItemLabel1="Clima"
                         GroupItemValue1="@item.Climate"
                         GroupItemLabel2="Gravidade"
                         GroupItemValue2="@item.Gravity"
                         CardDescription="" />
        }
    </div>
}

@code {
    private List<Planet>? planets;

    protected override async Task OnInitializedAsync()
    {

        try
        {
            var serviceResult = await Service.GetPlanetsAsync();

            var list = serviceResult.ToList();

            list.ForEach(c =>
            {
                var filteredUrl = c.ImageUrl.Split("/revision/");
                c.ImageUrl = filteredUrl[0];
            });


            planets = list;

        }
        catch (Exception ex)
        {

            Console.WriteLine(ex.Message);
        }
    }
}
