@page "/planets"
@inject IPlanetService Service

<PageTitle>Planetas</PageTitle>

<h1>Planetas</h1>

<p>Confira a lista de sucessos de uma galaxia tão tão distante...</p>

@if (planets == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in planets)
            {
                <tr>
                    <td>@item.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Planet>? planets;

    protected override async Task OnInitializedAsync()
    {

        try
        {
            var serviceResult = await Service.GetPlanetsAsync();

            planets = serviceResult.ToList();

        }
        catch (Exception ex)
        {

            Console.WriteLine(ex.Message);
        }
    }
}
