@page "/starships"
@inject IStarshipService Service

<PageTitle>Starships</PageTitle>

<h1 class="h1-titulo">Starships</h1>

<p class="p-titulo">Confira a lista de sucessos de uma galaxia tão tão distante...</p>

@if (starships == null)
{
    <p><em>Carregando...</em></p>
}
else
{

    <div class="row g-5">
        @foreach (var item in starships)
        {
            <DefaultCard ImageUrl="@item.ImageUrl"
                         Title="@item.Name"
                         GroupItemLabel1="Modelo"
                         GroupItemValue1="@item.Model"
                         GroupItemLabel2="Fabricante"
                         GroupItemValue2="@item.ManuFacturer"
                         CardDescription="" />
        }
    </div>
}

@code {
    private List<Starship>? starships;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var serviceResult = await Service.GetStarshipsAsync();

            var list = serviceResult.ToList();

            list.ForEach(c =>
            {
                var filteredUrl = c.ImageUrl.Split("/revision/");
                c.ImageUrl = filteredUrl[0];
            });

            starships = list;
        }
        catch (Exception ex)
        {

            throw;
        }

    }
}
