@page "/vehicles"
@inject IVehicleService Service

<PageTitle>Vehicles</PageTitle>

<h1>Vehicles</h1>

<p>Confira a lista de sucessos de uma galaxia tão tão distante...</p>

@if (vehicles == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in vehicles)
            {
                <tr>
                    <td><img src="@item.ImageUrl" width="100" height="100" /></td>
                    <td>@item.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Vehicle>? vehicles;

    protected override async Task OnInitializedAsync()
    {

        try
        {
            var serviceResult = await Service.GetVehiclesAsync();

            var list = serviceResult.ToList();

            list.ForEach(c =>
            {
                var filteredUrl = c.ImageUrl.Split("/revision/");
                c.ImageUrl = filteredUrl[0];
            });

            vehicles = list;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            throw;
        }
    }
}
