@page "/vehicles"
@inject IVehicleService Service

<PageTitle>Vehicles</PageTitle>

<h1 class="h1-titulo">Vehicles</h1>

<p class="p-titulo">Confira a lista de sucessos de uma galaxia tão tão distante...</p>

@if (vehicles == null)
{
    <p><em>Carregando...</em></p>
}
else
{
        <div class="row g-5">
            @foreach (var item in vehicles)
            {
                <DefaultCard ImageUrl="@item.ImageUrl"
                             Title="@item.Name"
                             GroupItemLabel1="Modelo"
                             GroupItemValue1="@item.Model"
                             GroupItemLabel2="Fabricante"
                             GroupItemValue2="@item.ManuFacturer"
                             CardDescription="" />
            }
            </div>
}

@code {
    private List<Vehicle>? vehicles;

    protected override async Task OnInitializedAsync()
    {

        try
        {
            var serviceResult = await Service.GetVehiclesAsync();

            var list = serviceResult.ToList();

            list.ForEach(c =>
            {
                var filteredUrl = c.ImageUrl.Split("/revision/");
                c.ImageUrl = filteredUrl[0];
            });

            vehicles = list;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            throw;
        }
    }
}
